body {
	text-align: center;
	margin: 0;
}
h1 {
font-family: raleway;
color: #0D2C40;
letter-spacing: 1px;
font-weight: 400;
font-size: 45px;
}
a {
	font-family: raleway;
	color: #F15B31;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
}
h2 {
font-family: raleway;
color: #0D2C40;
letter-spacing: 1px;
font-weight: 600;
font-size: 20px;
}
p {
	font-family: "Droid Serif";
	line-height: 26px;
	font-size: 18px
	text-transform: capitalize;
}
h1, a, h2, p { 
	text-transform: uppercase; 
}
header {
	background-color: #F15B31;
	color: #FFFFFF
	padding:30px 20px;

}